<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>For Parva</title>
<link rel="stylesheet" href="style.css">
</head>

<body>
<div class="background-hearts"></div>

<div class="wrapper">
  <div class="heart">
    <div class="content">

      <p class="text">
        From gulu,<br><br>
        hi boyfriend,<br><br>
        i have resorted to building websites because i love you that much.<br><br>
        So, Mr Parva G,<br>
        will you be my valentine?
      </p>

      <div class="buttons">
        <button id="yesBtn">YES</button>
        <button id="noBtn">No</button>
      </div>

      <div id="noMessages"></div>

    </div>
  </div>
</div>

<script src="script.js"></script>
</body>
</html>
